@import url('https://fonts.googleapis.com/css?family=Carter+One|Exo');

body {
    font-family: 'Exo', sans-serif;
}



.container {
    width: 1280px;
    padding: 0;
    margin: auto;
}

@media (min-width: 1200px) {
    .container{
        max-width: 1280px;
    }
}

.logo {
    width: 500px;
    margin: auto;
    display: block;
    padding-top: 20px;
}

/* nav styling */

nav ul li {
    display: inline;
    padding: 0 5%;
    
    
}

.nav {
    background: #242626;
    height: 130px;
}

.nav-bar ul li {
    width: 1280px;
    padding-left: auto;
    padding-right: auto;
}

.nav-bar {
    padding-top: 80px;
    text-align: center;
}

a {
    text-decoration: none;
    color: white;
    transition: all 0.3 ease-in-out;
}

a:hover {
    color: #C21717;
}

/* main banner styling */

.banner {
    position: relative;
    text-align: center;
    color: white;
}

.home-banner {
    width: 100%;
}

.home-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 4em;
    background-color: rgba(0, 0, 0, 0.8);
}




/* home page styling */

.images {
    margin: auto;
    height: 300px;
    width: 426.6px;
   display: inline-block;
    
}

.links {
    text-align: center;
    position: relative;
    color: white;
    width: 100%;
    margin: auto;
}
.links a {
    font-size: 45px;
}

.links-text1 {
    position: absolute;
    top: 50%;
    left: 19%;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, 0.8);
    font-size: 4em;
    padding: 5px;
    border-radius: 20px;
}

.links-text2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, 0.8);
    font-size: 4em;
    padding: 5px;
    border-radius: 20px;
}

.links-text3 {
    position: absolute;
    top: 50%;
    left: 82%;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, 0.8);
    font-size: 4em;
    padding: 5px;
    border-radius: 20px;
}



.restaurant {
   text-align: center;
}

.restaurant img {
    display: inline-block;
    width: 637px;
    height: 450px;
}

h1 {
    font-family: 'Carter One', cursive;
    text-align: center;
    color: #242626;
     text-decoration: underline overline;
}

/* Footer styling */

footer {
    background: #242626;
    height: 150px;
    margin-top: 20px;
}

.footer-bar {
    padding: 0;
    padding-top: 5px;
    text-align: center;
    margin: auto;
    width: 500px;
}

.copyright {
    text-align: center;
    color: white;
    padding-top: 15px;
    margin: auto;
    width: 500px;
}

.social img {
    width: 45px;
    margin-left: 20px
}

.social {
    width: 300px;
    margin-left: 50px
}


/* about us styling */

.about {
    padding: 10px;
    margin: auto;
    
}

.story {
    background: #262626;
    width: 85%;
    text-align: center;
    margin: auto;
    padding: 2px;
}

.story-text {
    color: white;
    font-size: 20px;
}

/* menu page styling */

.menu-text {
    padding: 10px;
    padding-left: 40px;
    padding-right: 40px;
}

.category {
    background: #262626;
    width: 200px;
    text-align: center;
    color: white;
    padding-bottom: 10px;
    float: left;
    margin-top: 30px;
}

.menu {
    width: 1000px;
    padding-top: 30px;
    margin-left: 280px;
}

.menu-image {
    width: 200px;
    height: 175px;
    padding-right: 60px;
    padding-bottom: 60px;
}

.menu-links {
    background: #262626;
    width: 200px;
    text-align: center;
    border-radius: 20px;
}

.menu-links a {
    color: white;
}

span p {
   width: 200px;
    text-align: left;
}




/* contact us styling */

.map {
    width: 600px;
}

.contact {
    width: 500px;
    height: 250px;
    text-align: center;
    margin: auto;
    background: #262626;
    color: white;
    padding: 10px;
    float: right;
    margin-right: 100px;
    margin-top: 100px;
    font-size: 20px;
}

iframe {
    border: solid 2px #262626;
}

form {
    
    width: 700px;
    background: #262626;
    height: 500px;
    padding: 20px;
    color: white;
    margin: auto;
    margin-top: 50px;
}

.info {
    text-align: center;
    width: 400px;
    height: 100px;
    margin: auto;
}

.name {
    float: left;
}

.email {
    float: right;
}

.message {
    text-align: center;
}

.message textarea {
    width: 600px;
    height: 200px;
}

.send {
    display: block;
    margin: auto;
    margin-top: 30px;
    background: #C21717;
    color: white;
    border: none;
    transition: all 0.3s ease-in-out;
}

.send:hover {
    transform: scale(1.5, 1.5);
}

form h1 {
    color: white;
    text-decoration: none;
}

form p {
    text-align: center;
    font-size: 15px;
    margin-top: -15px;
    margin-bottom: 30px;
}


/* Responsive section */




@media (max-width: 1300px) {
    .container {
        width: 90%;
    }
    
    .logo {
        width: 50%;
    }
    
    .category {
        
    }
}


@media (max-width: 1200px) {
    
    .logo {
        width: 40%;
    }
    
    
    .restaurant img {
        width: 458px;
        height: 250px;
    }
    
    .home-text {
        width: 400px;
        font-size: 2.5em;
    }
    
    .social img {
        width: 35px;
    }
    
    .social {
        margin-left: 0px;
    }
    
    
    
}


@media (max-width: 1040px) {
    
    .restaurant img {
        width: 457px;
    }
    
    
}



@media (max-width: 992px) {
    
    .social {
        width: 180px;
        margin: auto;
        
    }
    
    .social img {
        width: 30px;
        margin: 5px;
    }
    
    .nav-bar {
        padding-top: 100px;
        height: 5px;
        width: 400px;
        
        
    }
    
    a {
        font-size: 12px;
    }
    
    .restaurant img {
        width: 357px;
    }
    
    .images {
        height: 150px;
    }
    
    /* the below is not working for some reason. Can't seem to get the "a" tags to reduce in font size */
    
    .links a {
        width: 20px;
        font-size: 25px;
    }
    
    h1 {
        font-size: 1.5em;
    }
    
    .copyright {
        font-size: 12px;
        padding-top: 30px;
    }
    
    .contact {
        float: none;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 50px;
    }
    
    .map {
        float: none;
        margin: auto;
        
    }
    
    
    
    
}


@media (max-width: 768px) {
    .home-text {
        font-size: 1.5em;
    }
    
    .restaurant img {
        width: 100%;
        height: 300px
    }
    
    .images {
        width: 100%;
    }
    
    .nav-bar {
        padding-top: 40px;
        width: 200px;
        text-align: left;
    }
    
    .nav {
        height: 100px;
    }
    
    form {
        width: 90%;
    }
    
    .message textarea {
        width: 80%;
    }
    
    form h1 {
        font-size: 1.1em;
        padding-bottom: 10px;
    }
    
    form p {
        font-size: 0.8em;
    }
    
    iframe {
        padding: 0;
        margin: 0;
        width: 500px;
    }
    
    .map {
        padding: 0;
        margin: 0; 
        text-align: center;
    }
    
    
    
    
}

@media (max-width: 576px) {
    
    .images {
        display: none;
    }
    
    .links {
        height: 100px;
        margin: 0;
        padding: 0;
    }
    
    .links-text2, .links-text1, .links-text3 {
        width: 100px;
        padding: 0;
    }
    
    .links a {
        font-size: 20px;
    }
    
    .home-text {
        width: 250px;
        font-size: 1.1em;
    }
    
    iframe {
        width: 400px;
    }
    
    .map {
        width: 90%;
        text-align: center;
    }
    
    .contact {
        width: 90%;
    }
    
    .name input, .email input {
        width: 75%;
    }
    
    
    
}





